body {
    margin: 0;
    padding: 0;
}

.users {
    padding: 8rem 2rem;
}

.users__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    width: 20%;
    box-shadow: 2px 2px 4px grey;
    background-color: white;
    margin: 0 1rem;
    padding:  1rem 2rem;
    text-align: center;
}

.user__image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: -3rem;
    box-shadow: 4px 4px 8px grey;
}